.App {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  width: 100%;
  height: 100vh;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: auto;
}

.Card {
  background-image: linear-gradient(
    to right,
    #ececec 0%,
    #d6e5eb 51%,
    #414141 100%
  );
}
.Card {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.Card:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.gameContainer {
  height: 90%;
  width: auto;
  background-color: rgba(255, 0, 0, 0);
  margin: auto;
  margin-top: 70px;
}

.Score {
  text-align: center;
  width: 90%;
  height: 10%;
  background-color: rgb(255, 255, 255);
  margin: auto;
  font-size: 600%;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  display: inline;
  line-height: 110%;
}

.Card {
  width: 90%;
  height: 70%;
  background-color: rgb(255, 255, 255);
  border-color: rgb(253, 253, 253);
  border-width: 3px;
  border-style: solid;
  margin: auto;
  border-radius: 2px;
  text-align: center;
  font-size: 600%;
  text-align: center;
  justify-content: center;
  filter: drop-shadow(10px 10px 4px #88888a7a);
}

.cards {
  margin: auto;
  width: 50%;
  height: 30%;
  background-color: rgba(255, 255, 255, 0);
  display: grid;
  grid-template-columns: auto auto auto auto;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.CardInfo {
  text-align: center;
  width: 100%;
  margin: auto;
  height: auto;
  font-size: 600%;
  text-align: center;
}

.scoreKeep {
  color: black;
  text-align: center;
  filter: drop-shadow(10px 10px 4px #88888a7a);
}

@media screen and (max-width: 1080px) {
  .cards {
    grid-template-columns: auto auto;
    height: 40%;
    width: 100%;
  }
  .Card {
    height: 90%;
    width: 70%;
    font-size: 200%;
  }

  .sign {
    font-size: 50%;
  }
  .keepScore {
    height: auto;
    font-size: 90%;
    filter: drop-shadow(10px 10px 4px #88888a7a);
  }
}

@media screen and (min-width: 1081px) {
  .Card:hover {
    animation: shake 1s;
    animation-iteration-count: infinite;
  }
}

.CompleteScreen {
  width: 100%;
  height: 50%;
  text-align: center;
  margin: auto;
  display: none;
  justify-content: center;
}

.explainEd {
  width: 90%;
  font-size: xx-large;
  text-align: center;
  margin: auto;
  color: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.Reset {
  width: 50%;
  height: 50%;
  border-style: solid;
  border-radius: 5px;
  background-color: rgb(243, 243, 243);
  backdrop-filter: 5px;
  font-size: xx-large;
  margin-top: 100px;
  margin: auto;
  border-width: 0px;
  filter: drop-shadow(10px 10px 4px #88888a7a);
}

#highScoreTracker {
  font-size: xx-large;
  width: fit-content;
  height: auto;
  color: rgb(24, 24, 24);
  white-space: pre-wrap;
  tab-size: 10px;
  filter: drop-shadow(10px 10px 4px #88888a7a);
}

.progressBar {
  width: 0%;
  height: 10px;
  background-color: aqua;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: large;
}
